*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: #f5e8ba;
    text-align: center;
}

h2{
    color: darkgreen;
    font-size: 3em;
}

.msg{
    margin-bottom: 1em;
}

#gameboard{
    border: 3px solid;
}


.score{
    margin-top: 2em;
    font-size: 2em;
}